#name: DAST
#
#on:
#  push:
#    branches: [ main, master ]
#  pull_request:
#    branches: [ main, master ]
#
#jobs:
#  scan:
#    runs-on: ubuntu-22.04
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#
#      - name: ZAP Scan
#        uses: zaproxy/action-baseline@v0.12.0
#        with:
#          target: 'https://www.zaproxy.org/'